<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scheduling.mapper.CourseMapper">
    <select id="selectByCourseCode" resultType="com.scheduling.entity.Course">
        select * from courses where course_code = #{courseCode}
    </select>
    
    <select id="selectByCourseName" resultType="com.scheduling.entity.Course">
        select * from courses where course_name like concat('%', #{courseName}, '%')
    </select>
</mapper> 